{% extends "genmodels/base.html" %}
{% block content %}
  <div class="container detail">
    <div class="header">
      <a class="back" href="/">&larr;</a>
      <h1>About</h1>
    </div>
    <div class="page">
      <p>
      This repository is one of the outcomes of the
      <a href="https://musicrai.org/" target="_blank">Music RAI Research Project</a>.
      </p>

      <p>
      It was built to help navigate the complex ecosystem of generative AI for music generation.
      The repository can be filtered by tags associated with the models which helps identify, e.g.
      which models could be trained from scratch or fine-tuned on small datasets.
      We aim to promote low-resource AI models and link to open-access, non-profit archival
      repositories and AI models which are mostly excluded from other listings.
      </p>

      <p>
      As the generative AI ecosystem develops very rapidly, our collection may quickly become outdated.
      We invite you to add to the repository or suggest changes to the existing models.
      You can suggest new entries by using the "Add model" button on the main page.
      In order to suggest edits, click on the selected model's info tile and press "Edit"
      at the bottom. Your suggestions will be sent to us for a review.
      </p>

      <p>
      Please help us make this website useful for you by suggesting changes.
      You can get in touch with us by submitting <a href="/contact">the contact form</a>.
      </p>

    </div>
  </div>
{% endblock content %}

