{% extends "genmodels/base.html" %}
{% block content %}
  <div class="container">
    <h1 class="title">AI Music Generation - Model Explorer</h1>

    <div class="tags-row">
      <div class="tags">
        {% for tag in tags %}
        <a class="tag rounded-rect {% if tag.name == selected_tag %}selected{% endif %}" href="/?tag={{ tag.name }}">#{{ tag.name }}</a>
        {% endfor %}
        <a class="tag-reset rounded-rect" id="tagReset" href="/"> X </a>
      </div>
    </div>
    <a class="model-add rounded-rect" id="add-model" href="/add-model"> Add model </a>

    <div id="tiles">
      {% for model in ml_models %}
        <a class="tile rounded-rect" href="/{{ model.id }}">
          <h2>{{ model.name }}</h2>
          <p class="description">{{ model.description }}</p>
          <p>Year:
            {% if model.year %}
              {{ model.year }}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>Website:
            {% if model.website %}
              {{ model.website }}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>Input types:
            {% if model.input_types.exists %}
              {% for input_type in model.input_types.all %}
                <span class="rel">{{ input_type.name }}</span>
              {% endfor %}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>Output types:
            {% if model.output_types.exists %}
              {% for output_type in model.output_types.all %}
                <span class="rel">{{ output_type.name }}</span>
              {% endfor %}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>AI Technique:
            {% if model.technology.exists %}
              {% for tech in model.technology.all %}
                <span class="rel">{{ tech.name }}</span>
              {% endfor %}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>Dataset:
            {% if model.dataset %}
              {{ model.dataset }}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>License type:
            {% if model.license_type %}
              {{ model.license_type }}
            {% else %}
              <i class="fa-solid fa-circle-question"></i>
            {% endif %}
          </p>
          <p>Real time:
            {% include "genmodels/yes_no_unknown_param.html" with param=model.has_real_time_inference %}
          </p>
          <div class="cols">
            <p>Free:
              {% include "genmodels/yes_no_unknown_param.html" with param=model.is_free %}
            </p>
            <p>Open source:
              {% include "genmodels/yes_no_unknown_param.html" with param=model.is_open_source %}
            </p>
            <p>Checkpoints:
              {% include "genmodels/yes_no_unknown_param.html" with param=model.are_checkpoints_available %}
            </p>
            <p>Fine-tune:
              {% include "genmodels/yes_no_unknown_param.html" with param=model.can_finetune %}
            </p>
            <p>Train from scratch:
              {% include "genmodels/yes_no_unknown_param.html" with param=model.can_train_from_scratch %}
            </p>
          </div>
          <div class="tile-tags">
            {% for tag in model.tags.all %}
              <span class="tag">{{ tag.name }}</span>
            {% endfor %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
