{% extends "genmodels/base.html" %}
{% block content %}
  <div class="container">
    <h1 class="title">AI Music Generation - Model Explorer</h1>

    <div class="tags-row">
      <div class="tags">
        {% for tag in tags %}
        <a class="tag rounded-rect {% if tag.name == selected_tag %}selected{% endif %}" href="/?tag={{ tag.name }}">#{{ tag.name }}</a>
        {% endfor %}
        <a class="tag-reset rounded-rect" id="tagReset" href="/"> X </a>
      </div>
    </div>
    <a class="model-add rounded-rect" id="add-model" href="/add-model"> Add model </a>

    <div id="tiles">
      {% for model in ml_models %}
        <a class="tile rounded-rect" href="/{{ model.identifier }}">
          <h2>{{ model.name }}</h2>
          {% include "genmodels/model_info.html" with model=model %}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
