{% extends "genmodels/base.html" %}
{% block content %}
  <div class="container">
    <h1 class="title rounded-rect">AI Music Generation - Model Explorer</h1>

    <div class="tags-row">
      <div class="tags">
        <span class="tag rounded-rect">#audio input</span>
        <span class="tag rounded-rect">#midi input</span>
        <span class="tag rounded-rect">#text prompt</span>
        <span class="tag rounded-rect">#small dataset</span>
        <span class="tag rounded-rect">#audio output</span>
      </div>
      <div class="tag-reset rounded-rect" id="tagReset"> X </div>
    </div>

    <div id="tiles">
      {% for model in ml_models %}
        <a class="tile rounded-rect" href="/{{ model.id }}">
          <h2>{{ model.name }}</h2>
          <p>{{ model.description }}</p>
          {% if model.year %}
            <p>Year: {{ model.year }}</p>
          {% endif %}
          {% if model.website %}
            <p>Website: {{ model.website }}</p>
          {% endif %}
          {% if model.paper %}
            <p>Paper: {{ model.paper }}</p>
          {% endif %}
          {% if model.dataset %}
            <p>Dataset: {{ model.dataset }}</p>
          {% endif %}
          {% if model.output_length %}
            <p>Output length: {{ model.output_length }}</p>
          {% endif %}
          {% if model.license_type %}
            <p>license_type: {{ model.license_type }}</p>
          {% endif %}
          <div class="tile-tags">
              <span class="tag">audio input</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
