{% if param %}
  {% if param == "Y" %}
    <i class="yes fa-solid fa-circle-check" title="Yes"></i>
  {% elif param == "N" %}
    <i class="no fa-solid fa-circle-xmark" title="No"></i>
  {% elif param == "B" %}
    <i class="yes fa-solid fa-circle-check" title="Yes and No, depending on the plan"></i>
    <i class="no fa-solid fa-circle-xmark" title="Yes and No, depending on the plan"></i>
  {% elif param == "U" %}
    <i class="ns fa-solid fa-circle-question" title="Not known"></i>
  {% endif %}
{% else %}
  <i class="ns fa-solid fa-circle-question" title="Not specified"></i>
{% endif %}
